@font-face {
    font-family: 'bebas';
    src: url("../Righteous-Regular.ttf") format('truetype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "bebas", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #B1B1B1;
    overflow-x: hidden;
}

#loading-screen{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    font-size: 3rem; 
    background: linear-gradient(120deg, #171f1f, black);; 
    color: #B1B1B1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999;
}

.home-canvas{
    background: linear-gradient(120deg, #171f1f, black);
    position: relative;
}

footer{
    display: flex;
    bottom: 0;
    right: 0;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 1.5rem;
    color: #B1B1B1;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 3rem;
    font-size: 2.5rem;
}


.logo{
    position: relative;
    top: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: 800;
    color: #1A727C;
}



.navbar-ul a{
    text-decoration: none;
    color: #B1B1B1; 
    margin: 3rem;
}

.burger-menu{
    display: none;
    position:relative;
    top: 0;
    right: 0;
    padding-right: 1rem;
    z-index: 4;
}

.burger-menu div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.15rem;
    background-color: #1A727C;
    opacity: 1;
    transition: ease 0.5s;
}

.burger-menu .line2{
    width: 65%;
}

.home-content{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    width: 75%;
    top: 15vh;
    z-index: 3;
}

.overview-text{
    margin-top: 2rem;
}

.home-description{
    position: absolute;
    bottom: 0;
}

.explore-button{
    background: linear-gradient(120deg, #243838, black);
    border: 0.3rem solid #B1B1B1;
    color: #B1B1B1;
    font-size: 2.5rem;
    z-index: 3;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: ease 0.3s;
}

.explore-button:hover{
    background: linear-gradient(120deg, black, #243838);
    transition: ease 0.3s;
}

@media screen and (max-width: 1200px) {

    .burger-menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 0.5rem;
    }

    .burger-menu-active .line1{
        transform: translateY(0.4rem) rotateZ(-45deg);
    }
    
    .burger-menu-active .line2{
        transform: translateX(-0.5rem);
        opacity: 0;
    }
    
    .burger-menu-active .line3{
        transform: translateY(-0.55rem) rotateZ(45deg);
    }

    .logo{
        position: relative;
        top: 0;
        left: 0;
        padding-left: 0.5rem;
        font-size: 1.5rem;
        font-weight: 800;
        color: #1A727C;
    }

    .navbar{
        display: flex;
        top: 0;
        left:0;
        flex-wrap: wrap;
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 10vh;
        padding: 1.5rem;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: linear-gradient(120deg, #243838, black);
        z-index: 2;
        transition: ease 0.5s;
    }

    .navbar-ul-active{
        display: flex;
        justify-content: center;
        z-index: 2;
        right: 0;
        align-items: center;
    }

    .navbar-ul-active a{
        margin: 3rem;
        width: 100%;
        text-align: center;
    }

    .home-content{
        position:absolute;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        top: 15vh;
        margin-bottom: -2.7rem;
        z-index: 3;
    }

    .overview-text{
        margin-top: 2rem;
    }

    .home-description{
        position: absolute;
        bottom: 0;
    }

    .explore-button{
        background: linear-gradient(120deg, #243838, black);
        border: 0.3rem solid #B1B1B1;
        color: #B1B1B1;
        font-size: 2rem;
        z-index: 3;
        padding: 0.2rem 1rem;
        border-radius: 3rem;
    }
}

@media screen and (min-width: 1600px) {
    .home-content{
        width: 65%;
    }
}