@font-face {
    font-family: 'bebas';
    src: url("../Righteous-Regular.ttf") format('truetype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "bebas", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: #B1B1B1;
    overflow-x: hidden;
}

.home-canvas{
    background: linear-gradient(120deg, #171f1f, black);
    position: relative;
}

footer{
    display: flex;
    bottom: 0;
    right: 0;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 1.5rem;
    color: #1A727C;
}

.navbar{
    display: flex;
    top: 0;
    left:0;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}


.logo{
    position: relative;
    top: 0;
    left: 0;
    padding-left: 1rem;
    font-size: 2.3rem;
    font-weight: 800;
    color: #1A727C;
}

.navbar-ul{
    display: flex;
    position:fixed;
    top: 10vh;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    align-items: center;
    font-size: 2rem;
    transition: ease 0.5s;
}


.navbar-ul a{
    text-decoration: none;
    color: #B1B1B1; 
    padding: 1.5rem 0 1.5rem 0;
}

.burger-menu{
    display: none;
    position:relative;
    top: 0;
    right: 0;
    padding-right: 1rem;
}

.burger-menu div{
    width: 2rem;
    height: 0.2rem;
    margin: 0.15rem;
    background-color: #1A727C;
    opacity: 1;
    transition: ease 0.5s;
}

.burger-menu .line2{
    width: 65%;
}

@media screen and (max-width: 800px) {

    .burger-menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
    }

    .burger-menu-active .line1{
        transform: translateY(0.4rem) rotateZ(-45deg);
    }
    
    .burger-menu-active .line2{
        transform: translateX(-0.5rem);
        opacity: 0;
    }
    
    .burger-menu-active .line3{
        transform: translateY(-0.55rem) rotateZ(45deg);
    }

    .navbar-ul{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .navbar-ul-active{
        height: 18rem;
    }

    .navbar:has(> .navbar-ul-active){
        position: fixed;
    }

    .home-content{
        position:absolute;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        top: 15vh;
        margin-bottom: -2.7rem;
        z-index: 3;
    }

    .overview-text{
        margin-top: 2rem;
    }

    .home-description{
        position: absolute;
        bottom: 0;
    }

    .explore-button{
        display: flex;
        position: absolute;
        background-color: rgba(26, 114, 124, 0.3);
        border: none;
        color: #B1B1B1;
        font-size: 2.5rem;
        z-index: 3;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        padding: 0.5rem 1.5rem;
        border-radius: 3rem;
    }
}
