@font-face {
    font-family: 'bebas';
    src: url("../BebasNeue-Regular.ttf") format('truetype');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "bebas", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: #B1B1B1;
    overflow-x: hidden;
}

footer{
    display: flex;
    bottom: 0;
    right: 0;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(256,256,256, 0.3);
}

footer p{
    font-size: 1.5rem;
}

.navbar{
    display: flex;
    top: 0;
    left:0;
    flex-wrap: wrap;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

.navbar::before{
    content: '';
    position: absolute;
    background-color: rgba(256,256,256, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.2vh 0 0 1rem;
    font-size: 2.3rem;
    font-weight: 800;
}

.navbar-ul{
    display: flex;
    position:fixed;
    top: 10vh;
    flex-direction: column;
    width: 100%;
    z-index: 3;
    align-items: center;
    font-size: 2rem;
    transition: ease 0.5s;
}

.navbar-ul::before{
    content: '';
    position: absolute;
    background-color: rgba(256,256,256, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    z-index:-1;
}

.navbar-ul a{
    text-decoration: none;
    color: #B1B1B1; 
    padding: 1.5rem 0 1.5rem 0;
}

.burger-menu{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    padding: 2.5vh 2rem 0 0;
}

.burger-menu div{
    width: 2rem;
    height: 0.3rem;
    margin: 0.3rem;
    background-color: #B1B1B1;
    opacity: 1;
    transition: ease 0.5s;
}

.burger-menu .line2{
    margin-bottom: 0.35rem;
}

@media screen and (max-width: 800px) {

    .burger-menu{
        display: block;
    }

    .burger-menu-active .line1{
        transform: translateY(0.7rem) rotateZ(-45deg);
    }
    
    .burger-menu-active .line2{
        opacity: 0;
    }
    
    .burger-menu-active .line3{
        transform: translateY(-0.55rem) rotateZ(45deg);
    }

    .navbar-ul{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .navbar-ul-active{
        height: 18rem;
    }

    .home-content{
        position:relative;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        top: 15vh;
        margin-bottom: -2.7rem;
    }

    .overview-text{
        margin-top: 2rem;
    }

    .home-description{
        position: absolute;
        bottom: 0;
    }

    .explore-button{
        display: flex;
        position: absolute;
        top: 75%;
        left: 50%;
        width: 50%;
        transform: translateX(-50%) translateY(75%);
        background-color: rgba(256,256,256, 0.3);
        border: none;
        color: #B1B1B1;
        font-size: 2rem;
        justify-content: center;
        border-radius: 5px;
    }
}
